@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}

body{
     font-family: 'Poppins', sans-serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Roboto Slab', serif;
}

.wrapper{
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(97, 129, 139);
}

.container{
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: 1rem;
}

.button-container{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

.zero{
     padding: 64px;
     background-color: aliceblue;
     color: black;
     font-weight: bolder;
     font-size: 4rem;
     border-radius: 8px;
}

.btn{
     border: none;
     padding: 2rem;
     border-radius: 4px;
     text-transform: uppercase;
     border-radius: 100%;
     box-shadow: 0px 0px 20px gray;
     transition: 0.2s ease-in;
}

.btn1{
     background-image: url(./images/M.png); 
        
}

.btn2{
     background-image: url(./images/R.png);
}

.btn3 {
     background-image: url(./images/P.png);
}

.btn1,
.btn2,
.btn3 {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.btn:active{
   transform: scale(1.1);
}